

/* Color Theme Swatches in RGBA */
.tentate-1-rgba { color: rgba(26, 64, 97, 1); }
.tentate-2-rgba { color: rgba(131, 183, 230, 1); }
.tentate-3-rgba { color: rgba(61, 148, 224, 1); }
.tentate-4-rgba { color: rgb(55, 77, 97); }
.tentate-5-rgba { color: rgba(47, 114, 173, 1); }

html{/*etiquieta raiz*/
    font-size: 62.5%;
}

body{
    background-image: url(fondo2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: 50%;
}
.logoPrincipal{
            display: block;
            margin: auto;
}

/*menú navegación*/
nav{
    position:absolute;
    width: 100%;
    align-items:  center;
}

.inicio{
        text-align: center;
        list-style-position: inside;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        list-style: none;
        display: inline-block;
        padding: 3px; 
        color:rgba(26, 64, 97, 1);
        border-color: rgba(26, 64, 97, 1);
        text-decoration: none;
        
}

.linkInicio{
    display: inline-block;
    position: relative;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 20px;
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
    border-style: solid;
    border-color: rgba(55, 77, 97, 1);
    background-color: white;
    color: rgba(26, 64, 97, 1);
   
}

.linkInicio:hover{
    background-color: rgba(61, 148, 224, 1);
}

/*flexbox*/
#imagenes{
        display: flex;
        flex-flow: row wrap;
        border:rgb(55, 77, 97) 3px solid;
        margin: 30px;
        padding: 20px;
        align-items: center;

}
.carousel-item{
         width: 30px;
}
.img{
    position: relative;
    width: 300px;
    flex-shrink: 2;
    flex-grow: 5;
    margin: auto;
    padding: 5px;
}   

.img:hover{
    transform: scale(2);
}


h1{background-color:rgb(55, 77, 97);
    font-family: 'Oswald', sans-serif;
    color: white; 
    text-align: center;
    font-size: 2.5rem;
    margin: 50px 100px;
}

h2{background-color:rgba(131, 183, 230, 1);
    font-family: 'Oswald', sans-serif;
    color: white; 
    text-align: center;
    font-size: 2rem;
    margin: 3px 100px;
}

h3{
    font-family: 'Oswald', sans-serif;
    color: white; 
    text-align: center;
    font-size: 2rem;
}

/*espacio de ubicación y música*/

.medios{
    display: flex;
    flex-direction: row;   
    margin: 5px;
    align-items: center;
    padding-left: 35px;
}
.dondeEstamos{
            margin: 25px;
            background-color: rgba(55, 77, 97, 1);
            align-content: center;
            padding: 10px;
}

.musica{
    width: 400px;
    margin: auto;
}

.musicaPrincipal{
    background-color:rgba(131, 183, 230, 1);
    font-family: 'Oswald', sans-serif;
    color:black; 
    font-size: 2rem;
    
}

.spotify{   
        position: relative;   
}

.parrafo{background-color: white;
    color:  rgba(47, 114, 173, 1);
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 2px 10px;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(rgba(127, 175, 214, 0.925) ,rgb(55, 77, 97));
}

.redes{
    position: relative;
    display: inline-block;
    width: 50px;
    margin: 15px;
}


/*Productos*/
/*encabezado tabla*/
tr th{
    background-color: rgba(131, 183, 230, 1) ;
	color: rgba(26, 64, 97, 1) ;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Oswald', sans-serif
}

/*elementos de la tabla*/
tr td{
    background-color: white;
    color: rgba(26, 64, 97, 1);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

tr td li{
    color: rgba(55, 77, 97, 1);
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 1.5rem;
}    


/* Formulario */

form{
    color:rgba(26, 64, 97, 1);
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

input{
    color: rgba(47, 114, 173, 1);
    border-color: rgba(55, 77, 97, 1);
    font-family: 'Oswald', sans-serif;
}

input:hover{
    background-color: rgba(131, 183, 230, 1);
    color:royalblue;
}

/*Pedido on-line*/

.container{
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
}

.columna{
        background-color:rgb(177, 176, 176);
        border: solid black;
        margin: 5px;
        padding: 3px;
        size: 3px;
}

.container h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color:rgba(26, 64, 97, 1);
    text-align: center;
}

.precio{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color:rgba(26, 64, 97, 1);
    text-align: center;
    background-color: none;
    font-weight: bolder;

}

.descripcion{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    color:black;
    text-align: center;

}

/*Quienessomos*/
.grid{
    width: 90%;
    margin: 1em auto;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(2,1fr);
}

/*para el header dentro del container,
 para el footer dentro del container*/
 .grid>.header, .grid>.pie{
    grid-column:1/-1;
    background-color:rgba(55, 77, 97, 1);
    color: #ffffff;
    font-family: 'Oswald', sans-serif;

}
 .pQuienes{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center
 }

.grid>.fotos{
    grid-column: 1;
    grid-row: 2;    
    justify-content: center;
    margin-left: 180px;
}

.grid>.biografias{
    grid-column: 2; 
    background-color: white;
    padding: 15px;

}
.grid>.biografias>.bibliografia{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color:rgba(26, 64, 97, 1);
    text-align: justify;
    margin-top: 140px;
}

.pQuienes{
    background-color: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: white
}

/* MEDIA QUERIES */
/*aplicando responsive para pantallas de 768px*/
@media screen and (max-width: 768px) {
    body {
        background-color: white;
    }
}
/*aplicando responsive para pantallas de 961px*/
@media screen and (max-width: 320px) {
    body{
        background-color: aquamarine;
    }
}