@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
html {
  font-size: 70%; }

/*Reseteo*/
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #ececec; }

.logoPrincipal {
  display: block;
  margin: auto; }

.row {
  margin: 25px; }

.linkInicio {
  display: inline-block;
  font-weight: bolder;
  color: #8db8e0;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  margin-right: 20px;
  padding-right: 3px;
  padding-left: 3px;
  border-style: solid;
  border-color: #1a4061;
  background-color: white; }

.linkInicio:hover {
  background-color: #2f72ad; }

.title {
  background-color: #1a4061;
  font-family: "Fredericka the Great";
  color: white;
  text-align: center;
  font-size: 6em;
  margin: auto; }

.titleInicio {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin: auto;
  background-color: rgba(49, 113, 168, 0.753);
  color: #1a4061; }

.parrafo {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  color: #1a4061;
  text-align: center; }

/*Carousel de imagenes centrado*/
.carousel__imagenes {
  overflow: hidden;
  width: 80%;
  align-content: center;
  justify-content: center; }
  .carousel__imagenes .carousel-item {
    align-content: center;
    justify-content: center;
    width: 100%; }

/*Ubicacion y música*/
.container {
  margin: 25px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around; }

.medios {
  overflow: hidden; }
  .medios .medios_ubicacion_texto {
    font-family: "Open Sans", sans-serif;
    color: #1a4061;
    text-align: center;
    font-size: 2rem; }
  .medios .medios_musica_texto {
    grid-column: 2;
    grid-row: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    color: #1a4061;
    text-align: center; }

/*Footer*/
footer {
  width: 100%; }

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background-image: linear-gradient(rgba(49, 113, 168, 0.753), #1a4061); }
  .contacto .contacto__texto {
    color: white;
    font-family: "Fredericka the Great";
    font-size: 3em; }
  .contacto .contacto__redes {
    position: relative;
    display: inline-block;
    width: 50px;
    margin: 15px; }

/*Encabezado para secciones no principales*/
.encabezado {
  margin-left: 80px;
  margin-bottom: 20px; }

/*Recetas*/
.accordion {
  margin: 45px;
  padding: 2px; }
  .accordion .accordion-item {
    margin: 10px;
    padding: 20px;
    background-color: white; }
    .accordion .accordion-item .accordion-button {
      background-color: rgba(159, 188, 216, 0.726);
      font-family: "Fredericka the Great";
      font-style: italic;
      font-size: 1.8em;
      font-weight: bold;
      color: #1a4061; }
    .accordion .accordion-item .accordion-collapse {
      margin-left: 25px; }
      .accordion .accordion-item .accordion-collapse .accordion-text {
        font-family: "Open Sans", sans-serif;
        color: #1a4061;
        text-align: left;
        font-size: 1.5em; }
      .accordion .accordion-item .accordion-collapse ul {
        font-family: "Open Sans", sans-serif;
        color: #1a4061;
        font-size: 1.5em;
        text-align: left; }
      .accordion .accordion-item .accordion-collapse .pCongelados {
        color: #1a4061;
        font-family: "Open Sans", sans-serif;
        font-size: 1.5em;
        text-align: left; }

/*Formulario de contacto*/
.formulario {
  margin: 15px;
  border-color: black;
  align-content: center;
  justify-content: center; }

form {
  align-content: center;
  margin-left: 350px;
  justify-content: center;
  color: #1a4061;
  font-family: "Open Sans", sans-serif;
  font-size: 2em; }

input {
  color: #2f72ad;
  border-color: #8db8e0;
  font-family: "Open Sans", sans-serif; }

input:hover {
  color: rgba(90, 129, 163, 0.897);
  border-color: #1a4061;
  font-family: "Open Sans", sans-serif; }

/*Quines somos*/
.grid {
  width: 90%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%; }
  .grid .mauro {
    grid: 1 1;
    padding: 25px;
    align-items: end;
    justify-self: end; }
  .grid .ceci {
    grid-column: 1;
    grid-row: 2;
    padding: 25px;
    justify-self: end; }
  .grid .biografiaMauro, .grid .biografiaCeci {
    font-family: "Open Sans", sans-serif;
    color: #1a4061;
    font-size: 1.5em;
    padding: 50px;
    align-self: center;
    justify-self: center; }

/* MEDIA QUERIES */
/*aplicando responsive para pantallas de 768px*/
@media screen and (max-width: 768px) {
  html {
    font-size: 30%; }
  body {
    background-color: white; } }

/*aplicando responsive para pantallas de 961px*/
@media screen and (max-width: 320px) {
  body {
    background-color: aquamarine; } }

/*Cartas de productos con precio*/
.card-group {
  margin: 10px;
  padding: 3px; }

.card {
  margin: 35px 50px;
  padding: 5px;
  align-items: center;
  justify-content: center; }

.card-title {
  font-family: "Fredericka the Great";
  color: #1a4061;
  font-size: 2em;
  font-weight: bolder; }

.card-img-top {
  width: 35%;
  align-items: center;
  transition: width 1s; }

.card-img-top:hover {
  width: 100%; }

.card-text {
  font-family: "Open Sans", sans-serif;
  color: rgba(49, 113, 168, 0.753);
  font-size: 1.5em;
  text-align: left; }
  .card-text .text-muted {
    align-items: flex-end;
    justify-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
    font-weight: bolder;
    color: #1a4061; }

.error {
  display: grid;
  margin: 50px;
  padding: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr; }
  .error img {
    grid-row: 1/3;
    justify-self: right; }
  .error .errorTitle {
    font-size: 6em;
    background-color: none;
    color: white;
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: flex-start; }
  .error .errorParrafo {
    padding-top: 15px;
    font-size: 3.5em;
    font-weight: bolder;
    background-color: none;
    grid-row-start: 2;
    grid-column-start: 2; }
