@import "variables";
/*Footer*/
footer{
    width: 100%;
}
.contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient($celesteIntermedio,$azulNoche);
    .contacto__texto{
        color: white;
        font-family: $titulos;
        font-size: 3em;
    
    }
    .contacto__redes{
        position: relative;
        display: inline-block;
        width: 50px;
        margin: 15px;
    }
}