@import "variables";
/*Footer*/
footer{
    width: 100%;
}
.contacto{
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 50% 50%;
    width: 100%;
    padding: 25px;
    background-image: linear-gradient($celesteIntermedio,$azulNoche);
    align-items: center;
    .contacto__texto{
        color: white;
        grid-column-end: 2;
        grid-row-start:  1;
        font-family: $titulos;
        font-size: 3em;
        padding: 15px;
        align-items: center;
        justify-self: center;
    }
        .texto_footer{
        grid-column: 1;
        grid-row-end:3;
        font-family: $fuente;
        color: white;
        font-size: 1em;
    }
    
    .contacto__redes{
        grid-column: 2;
        grid-row:2;
        width: 50px;
        align-self: flex-start;
        justify-self: end;
    }
}