@import "variables";
html{
    font-size: 70%;
}
 /*Reseteo*/

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: $colorFondo; 
}

.logoPrincipal{
    display: block;
    margin: auto;
}

.row{
    margin:25px;
}
.linkInicio{
    display: inline-block;
    font-weight: bolder;
    color: $azul;
    font-family: $fuente;
    font-size: 2em;
    margin-right: 20px;
    padding-right: 3px;
    padding-left: 3px;
    border-style: solid;
    border-color: $azulNoche;
    background-color: white;
    
}

.linkInicio:hover{
    background-color: $celesteFuerte;
}

.title{background-color:$azulNoche;
    font-family: $titulos;
    color: white; 
    text-align: center;
    font-size: 6em;
    margin: auto;
}

.titleInicio{
    font-family: $fuente;
    font-size: 3.5em;
    text-align: center;
    margin: auto;
    background-color: $celesteIntermedio;
    color:$azulNoche;
}
.parrafo{
    font-family: $fuente;
    font-size: 2em;
    color:$azulNoche;
    text-align: center;

}

/*Carousel de imagenes centrado*/
.carousel__imagenes{
    overflow: hidden;
    width: 80%;
    align-content: center;
    justify-content: center;
    .carousel-item{
        align-content: center;
        justify-content: center;
        width: 100%;

    }

}
/*Ubicacion y música*/
.container{
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.medios{ 
    overflow: hidden;
        .medios_ubicacion_texto{
            font-family: $fuente;
            color: $azulNoche;
            text-align: center;
            font-size: 2.5em;
        }
        .medios_musica_texto{
            grid-column: 2;
            grid-row: 1;
            font-family: $fuente;
            font-size: 2.5em;
            color: $azulNoche;
            text-align: center;

        }
        
}

