/* MEDIA QUERIES */
/*aplicando responsive para pantallas de 768px*/
@media screen and (max-width: 768px) {
    body {
        background-color: white;
    }
    html{
        font-size: 30%;}
    } 
/*aplicando responsive para pantallas de 961px*/
@media screen and (max-width: 320px) {
    body{
        background-color: $grey;
    }
    html{
        font-size: 20%;}

}