
@import "variables";

h1{background-color:$azulNoche;
    font-family: $fuente;
    color: white; 
    text-align: center;
    font-size: 3rem;
    margin: 20px 100px;
}

h2{
    background-color: $celesteIntermedio;
    font-family: $fuente;
    font-size: 2.5em;
    margin: 3px 25px;
    color: black;
    .titleInicio{
        font-family: $fuente;
        font-size: 2rem;
        text-align: center;
        background-color: $celesteIntermedio;
        color:$azulNoche;
    }
}



p{
    background-color: white;
    color: $celesteFuerte;
    font-family: $fuente;
    font-size: 2rem;
    text-align: center;
    margin: 5px;
    padding: 25px;
}