//variables// 
$azulNoche:rgba(26, 64, 97, 1); 
$celesteClaro: rgba(90, 129, 163, 0.897); 
$celesteIntermedio: rgba(49, 113, 168, 0.753); 
$azul: rgb(141, 184, 224); 
$gris: rgba(159, 188, 216, 0.726);
$celesteFuerte: rgba(47, 114, 173, 1);
$grey: grey;
$colorFondo: #ececec;

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

$fuenteNormal: 1.5rem;
$fuenteGrande: 2rem;
$fuenteTitulos: 3.5rem;

$titulos: 'Fredericka the Great';
$fuente:'Open Sans', sans-serif; 